<template>
    <header class="bg-indigo-500 text-white font-black text-center text-5xl leading-loose mb-20">
        <h1 class="tracking-wider">- Kontaktdaten -</h1>
    </header>

    <!-- <div v-if="flashSuccess" class="">
        {{ flashSuccess }}
    </div> -->

    <div class="w-3/4 mx-auto">
        <slot>Default</slot>
    </div>
</template>

<script setup>
    import { Link, usePage } from '@inertiajs/vue3';
    import { computed } from 'vue';

    // page.props.value.flash.success
    // const page = usePage();
    // const flashSuccess = computed(
    //     () => page.props.value.flash.success
    // )

</script>