<template>
    <div class="text-center text-lg text-gray-700 mb-11">
        Bitte gib deine Kontaktdaten ein:
    </div>
    <form @submit.prevent="store">
        <div class="grid grid-cols-4 gap-4 w-1/2 mx-auto">
            <div class="col-span-4">
                <label for="email" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">email Adresse: *</label>
                <input v-model="email" type="text" name="email" id="email" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>            
            <div class="col-span-4">
                <label for="firstname" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">Vorname: *</label>
                <input v-model="firstname" type="text" name="firstname" id="firstname" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>
            <div class="col-span-4">
                <label for="lastname" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">Nachname: *</label>
                <input v-model="lastname" type="text" name="lastname" id="lastname" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>
            <div class="col-span-3"> 
                <label for="street" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">Straße:</label>
                <input v-model="street"  type="text" name="street" id="street" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>
            <div class="col-span-1"> 
                <label for="housenumber" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">Hausnummer:</label>
                <input v-model="housenumber" type="text" name="housenumber" id="housenumber" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>
            <div class="col-span-1">
                <label for="zip" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">Postleitzahl:</label>
                <input  v-model.number="zip" type="text" name="zip" id="zip" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>
            <div class="col-span-3">
                <label for="city" class="block mb-1 text-gray-500 dark:text-gray-600 font-medium">Ort:</label>
                <input v-model="city" type="text" name="city" id="city" class="block w-full p-2 rounded-md shadow-sm border border-gray-300 dark:border-gray-600 text-gray-500" />
            </div>
            <div>
                <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-semibold text-center text-xl px-5 py-2 my-10 rounded">Speichern</button>
            </div>
        </div>
    </form> 
</template>


<script>
    export default {
        data(){
            return {
                email: null,
                firstname: null,
                lastname: null,
                street: null,
                housenumber: null,
                zip: null,
                city: null,
            }
        },
        methods: {
            store(){
                axios.post('./api/contactform',
                {
                    email: this.email,
                    firstname: this.firstname,
                    lastname: this.lastname,
                    street: this.street,
                    housenumber: this.housenumber,
                    zip: this.zip,
                    city: this.city,
                });
            }
        }
    }
</script>
